body {
    background-color: #f3f2ef;
    font-family: Arial, Helvetica, sans-serif;
}

body>div {
    margin: 0px 380px;
}

#pfp {
    width: 150px;
    border-radius: 50%;
    border: 5px solid white;
}

#top-navbar {
    background-color: white;
}

#top-navbar a {
    color: #666666;
    text-decoration: none;
    font-size: 20px;
}

#top-navbar-content {
    margin: 0px 380px;
}

.container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1080px;
    align-items: start;
}

.grid-item {
    border: 1px solid lightgray;
    margin: 10px 0;
    background-color: white;
    border-radius: 10px;
}

.grid-item>* {
    margin: 20px 20px 20px 20px;
}


.info-text>* {
    margin: 0px;
}

.logo {
    float: left;
    margin: 0 20px 0 0;
    height: 70px;
}